---
---

main {
  margin-top: 70px;
  #menu-nav {
    list-style: none;
    padding: 0;
    li {
      margin: 0 0 .3em 0;
      a {
        display: block;
        width: 100%;
        padding: .5em;
      }
      a:hover, a.selected{
        background: rgb(229, 231, 233);
        text-decoration: none;
      }
      h4 {
        padding:.4em;
        margin: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          a {
            padding: .1em .5em .1em 1.5em;
          }
        }
      }
    }
  }
}

main.posts {
  margin-top: 0;
}

.navbar {
  padding: 10px 16px 9px 16px;
}
.navbar-nav > a {
  margin-left: 15px;
}
.navbar-brand { 
  font-family: "Roboto"; 
  height: 35px; 
  margin-top: -7px; 
  font-size: 1.4em; 
} 
.navbar-brand svg { 
  margin: -2px 5px 2px 0; 
} 
.navbar-brand path, .navbar-brand rect { 
  stroke: white; 
} 
.navbar-brand:hover path, .navbar-brand:hover rect, .navbar-brand:focus path, .navbar-brand:focus rect { 
  stroke: #18BC9C; 
} 
.navbar-brand:hover, .navbar-brand:focus { 
  color: #18BC9C !important; 
} 

.navbar.fixed-top {
    box-shadow: 0px 1px 9px 1px #00000069;
}

.navbar-toggler {
  border: none;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  height: 100%;
}

blockquote {
  background: #ecf0f1;
  padding: 10px 15px 5px 15px;
  border-radius: 5px;
}

#disqus_thread {
  margin-top: 5em;
  margin-bottom: 0;
}

#footer {
  background-color: #5a5f5f;
  width: 100%;
  overflow: auto;
  margin-top: 3em;
}

#footer div {
  color: white;
  text-align: center;
  margin: 1em auto; }

#footer div a{
  color: white;}

#footer div a:hover{
  color: white;
  text-decoration: underline;
}

.cit-title {
  font-style: italic;
}

.charter-legend-container {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.charter-legend {
  float: left;
}
.charter-legend em {
  font-style: normal;
  font-weight: 700;
}
.charter-logscale {
  float: right;
  line-height: 2.5em;
}
.chartjs-render-monitor {
  padding-top: 1em;
}
