{% include header.html type="blog" %}
    <main class="posts">
      <div id="deco-1"></div>
      <div id="deco-2"></div>
      <div id="deco-3"></div>
      <div id="deco-4"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div id="content">
                {{ content }}
                </div>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
    </main>
{% include footer.html %}
